<head lang="{{ .Site.Language.Lang }}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
	{{/*  TODO: remove  */}}
	<meta name="robots" content="noindex,nofollow" />

    {{ $title := ( .Title ) }}
	{{ $siteTitle := ( .Site.Title ) }}
	{{ if .IsHome }}
	<title>{{ $siteTitle }} | Home </title>
	{{ else }}
	<title>{{ $title }} | {{ $siteTitle }}</title>
	{{ end }}

    <link rel="stylesheet" href="/styles/index.css">
</head>